beautifulsoup4==4.12.2
contractions==0.1.73
dash==2.13.0
gensim==4.3.2
nltk==3.8.1
numpy==1.24.3
pandas==2.1.1
pymongo==4.5.0
requests==2.31.0
scikit_learn==1.3.1
spacy==3.6.1
en-core-web-sm
tensorflow==2.13.0
intel-tensorflow==2.13.0
tqdm==4.66.1
gunicorn
dash-tools
